<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:upstream-agent.properties" ignore-unresolvable="true"/>

    <context:annotation-config/>

    <context:component-scan base-package="com.jinyinwu.upstream.agent"/>

    <bean id="mustacheFactory" class="com.github.mustachejava.DefaultMustacheFactory"></bean>

    <bean id="curatorFramework" class="com.jinyinwu.upstream.agent.spring.CuratorFrameworkFactoryBean">
        <property name="namespace" value="discovery" />
        <property name="connectString" value="127.0.0.1:2181" />
    </bean>

    <bean id="curatorServiceDiscovery" class="com.jinyinwu.upstream.agent.discovery.CuratorServiceDiscoveryFactoryBean">
        <property name="client" ref="curatorFramework" />
        <property name="basePath" value="/services" />
    </bean>

</beans>